<nav class="navbar navbar-custom navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">OSale</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi bi-house"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-tools"></i>
                        Ordens de Serviço
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/os/nova">
                                <i class="bi bi-plus-lg"></i>
                                Nova OS
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/os/lista">
                                <i class="bi bi-list"></i>
                                Listar OS
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-graph-up"></i>
                        Vendas
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/venda/nova">
                                <i class="bi bi-cart-plus"></i>
                                Nova Venda
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/venda/lista">
                                <i class="bi bi-receipt"></i>
                                Listar Vendas
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-plus-lg"></i>
                        Cadastro
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/usuario/lista">
                                <i class="bi bi-person-gear"></i>
                                Usuário
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/cliente/lista">
                                <i class="bi bi-person-plus"></i>
                                Cliente
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/produto/lista">
                                <i class="bi bi-box"></i>
                                Produto
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-list-ul"></i>
                        Listas
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/usuario/lista">
                                <i class="bi bi-list"></i>
                                Usuário
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/cliente/lista">
                                <i class="bi bi-list"></i>
                                Cliente
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/produto/lista">
                                <i class="bi bi-list"></i>
                                Produto
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <button id="btn-theme-toggle" class="btn btn-sair ms-2">
                <i class="bi bi-sun"></i>
            </button>
            <a href="/logout" class="btn btn-sair ms-auto">
                <i class="bi bi-box-arrow-right me-2"></i>Sair
            </a>
        </div>
    </div>
</nav>