<nav class="navbar navbar-custom navbar-expand-lg">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="/">OSale</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi bi-house"></i> Home
                    </a>
                </li>

                {# Relatórios #}
                <li class="nav-item">
                    <a class="nav-link" href="/relatorio">
                        <i class="bi bi-file-earmark-richtext-fill"></i> Relatórios
                    </a>
                </li>

                {# Ordens de Serviço #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-tools"></i> Ordens de Serviço
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/os/detalhes">
                                <i class="bi bi-plus-lg"></i> Nova OS
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/os/lista">
                                <i class="bi bi-list"></i> Listar OS
                            </a>
                        </li>
                    </ul>
                </li>
                {# Cadastros #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-lines-fill"></i> Cadastros
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <h6 class="dropdown-header">Pessoas</h6>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/cliente/detalhes">
                                <i class="bi bi-person-plus"></i> Novo Cliente
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/fornecedor/detalhes">
                                <i class="bi bi-truck"></i> Novo Fornecedor
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Produtos &amp; Serviços</h6>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/produto/detalhes">
                                <i class="bi bi-box-seam"></i> Novo Produto
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/servico/detalhes">
                                <i class="bi bi-wrench-adjustable"></i> Novo Serviço
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Usuários</h6>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/usuarios/detalhes">
                                <i class="bi bi-person-gear"></i> Novo Usuário
                            </a>
                        </li>
                    </ul>
                </li>

                {# Listas #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-list-ul"></i> Listas
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <h6 class="dropdown-header">Pessoas</h6>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/cliente/lista">
                                <i class="bi bi-people"></i> Clientes
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/fornecedor/lista">
                                <i class="bi bi-building"></i> Fornecedores
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Produtos &amp; Serviços</h6>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/produto/lista">
                                <i class="bi bi-boxes"></i> Produtos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/servico/lista">
                                <i class="bi bi-wrench-adjustable-circle"></i> Serviços
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Usuários</h6>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/usuarios/lista">
                                <i class="bi bi-people-fill"></i> Usuários
                            </a>
                        </li>
                    </ul>
                </li>                

            </ul>

            <button id="btn-theme-toggle" class="btn btn-sair">
                <i class="bi bi-sun"></i>
            </button>
            <a href="/logout" class="btn btn-sair ms-2">
                <i class="bi bi-box-arrow-right me-2"></i>Sair
            </a>
        </div>
    </div>
</nav>